In [1]:
import pandas as pd
pd.set_option('mode.chained_assignment',  None)

import os, pymysql, math, re, random

from openai import OpenAI
from tqdm import tqdm

def live_db_conn():
    conn = pymysql.connect(host='host', user='user', password='password',autocommit=True,cursorclass=pymysql.cursors.DictCursor, db = "db")
    return conn

In [2]:
r_food_d = pd.read_excel('input/FOR_AUG.xlsx', index_col=0)

r_food_d.head()

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
0,고객,Is that there jjamppong nest?,둥지 짬뽕,jjamppong nest|상호,매장_상품정보
1,고객,Is it a gimbap specialty restaurant?,"김밥, 전문집",gimbap|메뉴,매장_상품정보
2,고객,Is Sachensong?,사천성,Sachensong|상호,매장_상품정보
3,고객,"Is Luwan, right?",루완,Luwan|상호,매장_상품정보
4,고객,Are you liking Wolleung soba?,월령소바,Wolleung soba|상호,매장_상품정보

In [3]:
name_list = ['Christine Flores', 'Tanaka Rio', 'cristina tabucan', 'Yuiko Tanaka', 'Thinzar Aye'] # 이름 샘플
idx = 0
for i in r_food_d[r_food_d['SENTENCE'].str.contains('#이름#')].index:

    r_food_d.loc[i,'SENTENCE'] = r_food_d.loc[i,'SENTENCE'].replace('#이름#', name_list[idx])
    r_food_d.loc[i,'개체명'] = r_food_d.loc[i,'개체명'].replace('#이름#', name_list[idx])
    r_food_d.loc[i,'지식베이스'] = r_food_d.loc[i,'지식베이스'].replace('#이름#', name_list[idx])
    idx += 1

In [4]:
new_add = "299 Samil-daero,Jung-gu,Seoul"

r_food_d['SENTENCE'] = r_food_d['SENTENCE'].apply(lambda x:x.replace('#address#', new_add))
r_food_d['개체명'] = r_food_d['개체명'].apply(lambda x:x.replace('#주소#', new_add) if type(x) != float else x)
r_food_d['지식베이스'] = r_food_d['지식베이스'].apply(lambda x:x.replace('#주소#', new_add) if type(x) != float else x)

In [5]:
first_aug_info_df = pd.read_csv('./input/LLM - 영어 - Intent 데이터 증강 목표치.csv')[['intent','1차 쿼리 증강 \n대상 여부','1차 행별 \n증강 수']]
first_aug_info_df['1차 행별 \n증강 수'] = first_aug_info_df['1차 행별 \n증강 수'].apply(lambda x:math.ceil(x))

In [6]:
STORE_AUGMENTED_TARGET_DIC = {}
for row in first_aug_info_df[(first_aug_info_df['1차 쿼리 증강 \n대상 여부'] == 1)&(first_aug_info_df['1차 행별 \n증강 수'] > 0)].values:

    STORE_AUGMENTED_TARGET_DIC[row[0]] = row[2]

1. store 쿼리 증강

In [7]:
conn = live_db_conn()
curs = conn.cursor()

sql = """
SELECT store_id, name FROM store_translate
WHERE lang = 'en'
"""
curs.execute(sql)

store_df = pd.DataFrame(curs.fetchall())

curs.close()
conn.close()

store_df.drop_duplicates('name',inplace=True,keep='first')


conn = live_db_conn()
curs = conn.cursor()

sql = """
SELECT name FROM product_translate where lang = 'en'""" 
curs.execute(sql)

product_df = pd.DataFrame(curs.fetchall())

curs.close()
conn.close()
# product_df.drop_duplicates('store_id',inplace=True, keep='first')
product_df.drop_duplicates('name',inplace=True,keep='first')

In [8]:
STORE_AUGMENTED_TARGET_DF = r_food_d[r_food_d['intent_cat'].isin(STORE_AUGMENTED_TARGET_DIC.keys())]

STORE_AUGMENTED_TARGET_DF.head()

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
6,고객,I am planning to make a reservation for about ...,"열 명, 예약, 언제, 전화",ten people|인원,예약_문의
7,고객,"Around March 25th, there is a meeting and I wa...","삼월 이십오일, 모임, 안쪽, 예약, 언제","March 25th|예약일, inside|위치",예약_문의
8,고객,Do we need to make a reservation for five people?,"다섯 명, 예약",five people|인원,예약_문의
9,고객,If about ten people are going to have a compan...,"열 명, 회식, 미리, 연락","company dinner|행사, ten people|인원",예약_문의
10,고객,Can we do it on the same day?,당일 낮,on the same day|시간,예약_문의

In [9]:
regex1 = '\[[^)]+\]'
regex2 = '\([^)]+\)'

sn_list = store_df['name'].tolist()
sn_list = [re.sub(regex1,'',str(s)) for s in sn_list]
sn_list = [re.sub(regex2,'',str(s)) for s in sn_list]
sn_list = set(sn_list)
sn_list = list(sn_list)

pn_list = product_df['name'].tolist()
random.shuffle(pn_list)
pn_list = list(pn_list)

pn_list = [re.sub(regex1,'',str(s)) for s in pn_list]
pn_list = [re.sub(regex2,'',str(s)) for s in pn_list]
pn_list = set(pn_list)
pn_list = list(pn_list)

In [10]:
row_list = []

for row in tqdm(STORE_AUGMENTED_TARGET_DF.values):


    intent_cat = row[4] 
    cnt = STORE_AUGMENTED_TARGET_DIC[intent_cat]

    origin_mq = row[1]
    origin_entity = row[2]
    origin_kb = row[3]

    # '상호' 여부

    if type(origin_kb) == float: # nan

        for rpt in range(cnt):

            new_name = sn_list.pop()
            new_name = new_name.replace(' ','')
            new_mq = "It's " + new_name + ', right? ' + origin_mq

            if len(origin_entity) != 0: # 원래 있으면 앞에 붙이고

                new_entity = new_name + ', ' + origin_entity

            else:

                new_entity = new_name
            
            # if len(origin_kb) != 0: # 원래 있으면 앞에 붙이고

            #     new_kb = new_name + '/상호, ' + origin_kb

            # else:

            new_kb = new_name + '|상호'

            new_row = ['고객',new_mq,new_entity,new_kb,intent_cat]
            row_list.append(new_row)

    elif '|상호' in origin_kb:

        for rpt in range(cnt):

            kb_list = origin_kb.split(', ')

            for k in kb_list:

                kb_type = k.split('/')[1]

                if kb_type == '상호': 

                    old_name = k.split('/')[0]
                    new_name = sn_list.pop()
                    new_name = new_name.replace(' ','')
                    new_mq = origin_mq.replace(old_name,new_name)
                    new_entity = origin_entity.replace(old_name,new_name)
                    new_kb = origin_kb.replace(old_name,new_name)

                else:

                    continue
            
            new_row = ['고객',new_mq,new_entity,new_kb,intent_cat]
            row_list.append(new_row)

    elif '|상호' not in origin_kb:
   
        for rpt in range(cnt):

            new_name = sn_list.pop()
            new_name = new_name.replace(' ','')
            new_mq = "It's " + new_name + ', right? ' + origin_mq

            if len(origin_entity) != 0: # 원래 있으면 앞에 붙이고

                new_entity = new_name + ', ' + origin_entity

            else:

                new_entity = new_name
            
            if len(origin_kb) != 0: # 원래 있으면 앞에 붙이고

                new_kb = new_name + '|상호, ' + origin_kb

            else:

                new_kb = new_name + '|상호'

            new_row = ['고객',new_mq,new_entity,new_kb,intent_cat]
            row_list.append(new_row)

100%|██████████| 2193/2193 [00:00<00:00, 52915.00it/s]

In [11]:
STORE_AUGMENTED_DF = pd.DataFrame(row_list, columns=STORE_AUGMENTED_TARGET_DF.columns)
# STORE_AUGMENTED_DF['MQ'] = STORE_AUGMENTED_DF['MQ'].apply(lambda x:x.replace('/',' '))
STORE_AUGMENTED_DF.head()

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
0,고객,"It's SongbaekdwaejiGukbap, right? I am plannin...","SongbaekdwaejiGukbap, 열 명, 예약, 언제, 전화","SongbaekdwaejiGukbap|상호, ten people|인원",예약_문의
1,고객,"It's NiwaBakery, right? Around March 25th, the...","NiwaBakery, 삼월 이십오일, 모임, 안쪽, 예약, 언제","NiwaBakery|상호, March 25th|예약일, inside|위치",예약_문의
2,고객,"It's CheonhaDonkkaseu, right? Do we need to ma...","CheonhaDonkkaseu, 다섯 명, 예약","CheonhaDonkkaseu|상호, five people|인원",예약_문의
3,고객,"It's Eunjiyakguk, right? If about ten people a...","Eunjiyakguk, 열 명, 회식, 미리, 연락","Eunjiyakguk|상호, company dinner|행사, ten people|인원",예약_문의
4,고객,"It's Hanoimaekjubamgeoriguwoljeom, right? Can ...","Hanoimaekjubamgeoriguwoljeom, 당일 낮","Hanoimaekjubamgeoriguwoljeom|상호, on the same d...",예약_문의

In [12]:
df1 = pd.concat([STORE_AUGMENTED_DF, r_food_d], axis=0)

In [13]:
second_aug_info_df = pd.read_csv('./input/LLM - 영어 - Intent 데이터 증강 목표치.csv')[['intent','2차 쿼리 증강 \n대상 여부','2차 행별 \n증강 수']]
second_aug_info_df['2차 행별 \n증강 수'] = second_aug_info_df['2차 행별 \n증강 수'].apply(lambda x:math.ceil(x))
second_aug_info_df.head()

    intent  2차 쿼리 증강 \n대상 여부  2차 행별 \n증강 수
0  매장_상품정보                 1             1
1    상품_재료                 1             1
2    예약_문의                 1             1
3  매장_영업시간                 1             1
4  추천_상품추천                 1             1

In [14]:
MENU_AUGMENTED_TARGET_DIC = {}

for row in second_aug_info_df[(second_aug_info_df['2차 쿼리 증강 \n대상 여부'] == 1)&(second_aug_info_df['2차 행별 \n증강 수'] > 0)].values:

    MENU_AUGMENTED_TARGET_DIC[row[0]] = row[2]

In [15]:
MENU_AUGMENTED_TARGET_DF = df1[(df1['intent_cat'].isin(second_aug_info_df[second_aug_info_df['2차 쿼리 증강 \n대상 여부'] == 1]['intent']))&(df1['지식베이스'].str.contains('\|메뉴'))]
MENU_AUGMENTED_TARGET_DF.head()

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
5,고객,"It's Hoeori, right? Do I have to make a reserv...","Hoeori, 동태탕, 예약","Hoeori|상호, dongtae tang|메뉴",예약_문의
15,고객,"It's RiberoHotelHansikDang, right? Do you take...","RiberoHotelHansikDang, 김밥, 단체, 주문","RiberoHotelHansikDang|상호, kimbap|메뉴",예약_문의
16,고객,"It's Inoheeosenseu, right? Do I have to order ...","Inoheeosenseu, 김밥, 이삼십 줄, 정도, 주문, 전날 주문","Inoheeosenseu|상호, kimbap|메뉴, thirty rolls|수량, ...",예약_문의
28,고객,"It's Gungnakgongyeondatkeom, right? I'd like a...","Gungnakgongyeondatkeom, 일반 김밥, 산, 주문","Gungnakgongyeondatkeom|상호, regular kimbap|메뉴",예약_문의
206,고객,"It's RuKissAteu, right? Is jjajangmyeon 4,000 ...","RuKissAteu, 짜장면, 홀, 사천 원","RuKissAteu|상호, jjajangmyeon|메뉴, restaurant|장소,...",매장_배달

In [16]:
row_list = []

for row in tqdm(MENU_AUGMENTED_TARGET_DF.values):


    intent_cat = row[4] 
    cnt = MENU_AUGMENTED_TARGET_DIC[intent_cat]

    origin_mq = row[1]
    origin_entity = row[2]
    origin_kb = row[3]


    # '상호' 여부

    if type(origin_kb) == float: # nan

        continue
        

    elif '|메뉴' in origin_kb:

        for rpt in range(cnt):

            kb_list = origin_kb.split(', ')

            for k in kb_list:

                kb_type = k.split('|')[1]

                if kb_type == '메뉴': 

                    old_name = k.split('|')[0]
                    new_name = pn_list.pop()
                    new_name = new_name.replace(' ','')
                    
                    try:

                        new_mq = origin_mq.replace(old_name,new_name)
                        new_entity = origin_entity.replace(old_name,new_name)
                        new_kb = origin_kb.replace(old_name,new_name)
                    
                    except: # pop error
                        print('error')
                        new_name = pn_list.pop()
                        new_name = new_name.replace(' ','')
                        new_mq = origin_mq.replace(old_name,new_name)
                        new_entity = origin_entity.replace(old_name,new_name)
                        new_kb = origin_kb.replace(old_name,new_name)
                        
                else:

                    continue
            
            new_row = ['고객',new_mq,new_entity,new_kb,intent_cat]
            row_list.append(new_row)

    elif '|메뉴' not in origin_kb:

        continue

100%|██████████| 3214/3214 [00:00<00:00, 229345.90it/s]

In [17]:
MENU_AUGMENTED_DF = pd.DataFrame(row_list, columns=MENU_AUGMENTED_TARGET_DF.columns)
# STORE_AUGMENTED_DF['MQ'] = STORE_AUGMENTED_DF['MQ'].apply(lambda x:x.replace('/',' '))
MENU_AUGMENTED_DF.head()

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
0,고객,"It's Hoeori, right? Do I have to make a reserv...","Hoeori, 동태탕, 예약","Hoeori|상호, Tyubingnunsseolmaejang|메뉴",예약_문의
1,고객,"It's RiberoHotelHansikDang, right? Do you take...","RiberoHotelHansikDang, 김밥, 단체, 주문","RiberoHotelHansikDang|상호, ChasyuGop|메뉴",예약_문의
2,고객,"It's Inoheeosenseu, right? Do I have to order ...","Inoheeosenseu, 김밥, 이삼십 줄, 정도, 주문, 전날 주문","Inoheeosenseu|상호, FrenchStrawberriesMacaron|메뉴...",예약_문의
3,고객,"It's Gungnakgongyeondatkeom, right? I'd like a...","Gungnakgongyeondatkeom, 일반 김밥, 산, 주문","Gungnakgongyeondatkeom|상호, MuksabalSet2in|메뉴",예약_문의
4,고객,"It's RuKissAteu, right? Is UnlimitedServingofM...","RuKissAteu, 짜장면, 홀, 사천 원","RuKissAteu|상호, UnlimitedServingofMeat|메뉴, rest...",매장_배달

In [18]:
df2 = pd.concat([df1, MENU_AUGMENTED_DF], axis=0)
df2.head()

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
0,고객,"It's SongbaekdwaejiGukbap, right? I am plannin...","SongbaekdwaejiGukbap, 열 명, 예약, 언제, 전화","SongbaekdwaejiGukbap|상호, ten people|인원",예약_문의
1,고객,"It's NiwaBakery, right? Around March 25th, the...","NiwaBakery, 삼월 이십오일, 모임, 안쪽, 예약, 언제","NiwaBakery|상호, March 25th|예약일, inside|위치",예약_문의
2,고객,"It's CheonhaDonkkaseu, right? Do we need to ma...","CheonhaDonkkaseu, 다섯 명, 예약","CheonhaDonkkaseu|상호, five people|인원",예약_문의
3,고객,"It's Eunjiyakguk, right? If about ten people a...","Eunjiyakguk, 열 명, 회식, 미리, 연락","Eunjiyakguk|상호, company dinner|행사, ten people|인원",예약_문의
4,고객,"It's Hanoimaekjubamgeoriguwoljeom, right? Can ...","Hanoimaekjubamgeoriguwoljeom, 당일 낮","Hanoimaekjubamgeoriguwoljeom|상호, on the same d...",예약_문의

In [19]:
third_aug_info_df = pd.read_csv('./input/LLM - 영어 - Intent 데이터 증강 목표치.csv')[['intent','3차 증강\n대상 여부','3차 행별 \n증강 수']]
third_aug_info_df['3차 행별 \n증강 수'] = third_aug_info_df['3차 행별 \n증강 수'].apply(lambda x:math.ceil(x))
third_aug_info_df.head()

    intent  3차 증강\n대상 여부  3차 행별 \n증강 수
0  매장_상품정보             0             0
1    상품_재료             0             0
2    예약_문의             0             1
3  매장_영업시간             0             1
4  추천_상품추천             0             1

In [20]:
TXTGEN_AUGMENTED_TARGET_DIC = {}
for row in third_aug_info_df.values:

    if row[1] == 1:
        
        TXTGEN_AUGMENTED_TARGET_DIC[row[0]] = row[2]

In [21]:
TXTGEN_AUGMENTED_TARGET_DF = df2[df2['intent_cat'].isin(TXTGEN_AUGMENTED_TARGET_DIC.keys())]

TXTGEN_AUGMENTED_TARGET_DF.head()

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
107,고객,"It's CAFE316, right? Is KakaoPay available?","CAFE316, 카카오페이","CAFE316|상호, KakaoPay|결제방식",결제_방식문의
108,고객,"It's cafe106, right? Is KakaoPay available?","cafe106, 카카오페이","cafe106|상호, KakaoPay|결제방식",결제_방식문의
109,고객,"It's OsikosiLotteBaekhwajeomgurijeom, right? I...","OsikosiLotteBaekhwajeomgurijeom, 카카오페이","OsikosiLotteBaekhwajeomgurijeom|상호, KakaoPay|결제방식",결제_방식문의
110,고객,"It's Icheudaejeonmijangwon, right? Is KakaoPay...","Icheudaejeonmijangwon, 카카오결제","Icheudaejeonmijangwon|상호, KakaoPay|결제종류",결제_방식문의
111,고객,"It's ToribeochiHyundaiBaekhwajeomMokdongjeom, ...","ToribeochiHyundaiBaekhwajeomMokdongjeom, 카카오결제","ToribeochiHyundaiBaekhwajeomMokdongjeom|상호, Ka...",결제_방식문의

In [1]:
# RT API GPT4
%env OPENAI_API_KEY=OPENAI_API_KEY

open_api_key = os.getenv("OPENAI_API_KEY")

client = OpenAI(
    # This is the default and can be omitted
    api_key=os.environ.get('OPENAI_API_KEY'),\
)

In [51]:
final_augmented_list = []

save_df = pd.DataFrame(columns=TXTGEN_AUGMENTED_TARGET_DF.columns)

for row in tqdm(TXTGEN_AUGMENTED_TARGET_DF.values):

    mq = row[1]
    entity = row[2]
    kb = row[3]
    intent = row[4]
    cnt = TXTGEN_AUGMENTED_TARGET_DIC[intent]

    chat_completion = client.chat.completions.create(
        messages=[
            {"role": "user",
             "content": "'{}' 라는 문장을 비슷한 영어 문장로 {}개 생성해줘".format(mq,cnt)}
        ],
        model="gpt-3.5-turbo")
    
    gen_list = chat_completion.choices[0].message.content.split('\n')
    # mq_list = [txt[3:].replace("'",'') for txt in gen_list]
    for new_mq in gen_list:

        tmp = pd.DataFrame([['고객',new_mq,entity,kb,intent]],columns=save_df.columns)
        save_df = pd.concat([save_df,tmp],axis=0)
        save_df.to_csv('TXT_GEN.csv')

100%|██████████| 2599/2599 [57:23<00:00,  1.33s/it]

In [121]:
txtgen_df = pd.read_csv('input/TXT_GEN.csv',index_col=0)
txtgen_df.head()

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
0,고객,Do you accept KakaoPay at CAFE316?,"CAFE316, 카카오페이","CAFE316|상호, KakaoPay|결제방식",결제_방식문의
0,고객,"""Is it cafe106? Do you accept KakaoPay?""","cafe106, 카카오페이","cafe106|상호, KakaoPay|결제방식",결제_방식문의
0,고객,"""Is it OsikosiLotteBaekhwajeomgurijeom? And do...","OsikosiLotteBaekhwajeomgurijeom, 카카오페이","OsikosiLotteBaekhwajeomgurijeom|상호, KakaoPay|결제방식",결제_방식문의
0,고객,Is it Icheudaejeonmijangwon? Is KakaoPay funct...,"Icheudaejeonmijangwon, 카카오결제","Icheudaejeonmijangwon|상호, KakaoPay|결제종류",결제_방식문의
0,고객,"""Are we at the ToribeochiHyundaiBaekhwajeomMok...","ToribeochiHyundaiBaekhwajeomMokdongjeom, 카카오결제","ToribeochiHyundaiBaekhwajeomMokdongjeom|상호, Ka...",결제_방식문의

In [122]:
txtgen_df = txtgen_df[txtgen_df['SENTENCE'] != ""]
txtgen_df = txtgen_df[~txtgen_df['SENTENCE'].isnull()]

In [123]:
txtgen_df['SENTENCE'] = txtgen_df['SENTENCE'].apply(lambda x: x[1:-1] if (x[0] == '"') or (x[0] == "'" ) else x)

In [124]:
num_list = [str(i) + '. ' for i in range(1,167)]

In [125]:
txtgen_df

,SPEAKER,SENTENCE,개체명,지식베이스,intent_cat
0,고객,Do you accept KakaoPay at CAFE316?,"CAFE316, 카카오페이","CAFE316|상호, KakaoPay|결제방식",결제_방식문의
0,고객,Is it cafe106? Do you accept KakaoPay?,"cafe106, 카카오페이","cafe106|상호, KakaoPay|결제방식",결제_방식문의
0,고객,Is it OsikosiLotteBaekhwajeomgurijeom? And do ...,"OsikosiLotteBaekhwajeomgurijeom, 카카오페이","OsikosiLotteBaekhwajeomgurijeom|상호, KakaoPay|결제방식",결제_방식문의
0,고객,Is it Icheudaejeonmijangwon? Is KakaoPay funct...,"Icheudaejeonmijangwon, 카카오결제","Icheudaejeonmijangwon|상호, KakaoPay|결제종류",결제_방식문의
0,고객,Are we at the ToribeochiHyundaiBaekhwajeomMokd...,"ToribeochiHyundaiBaekhwajeomMokdongjeom, 카카오결제","ToribeochiHyundaiBaekhwajeomMokdongjeom|상호, Ka...",결제_방식문의
...,...,...,...,...,...
0,고객,11. What is the currency conversion rate for r...,NaN,NaN,카드_환불
0,고객,Could you please calculate the total for one o...,"HiyaArts, 짜장면, 한 개, 계산","HiyaArts|상호, GreenCurryCreamPasta|메뉴, one|수량",결제_방식문의
0,고객,Is it Baedalsamgyeopgogigattaenggilttae? Pleas...,"Baedalsamgyeopgogigattaenggilttae, 짜장면, 한 개, 계산","Baedalsamgyeopgogigattaenggilttae|상호, SetA|메뉴,...",결제_방식문의
0,고객,Can you prepare a pre-order for one serving of...,"Msojucafe, 짜장면, 한 개, 계산","Msojucafe|상호, XoShark's-finDubuJjim|메뉴, one|수량",결제_방식문의
0,고객,Could you please calculate the cost of one ord...,"짜장면, 한 개, 계산","OneureunOdengParty|메뉴, one|수량",결제_방식문의

In [126]:
for n in num_list[::-1]:

    txtgen_df['SENTENCE'] = txtgen_df['SENTENCE'].apply(lambda x: x.replace(n,'') if n in x else x)

In [131]:
final_df = pd.concat([df2, txtgen_df], axis=0)

final_df.to_csv('output/EN_Final_Aug_df.csv')